loop: means repetition
  - for
  - while
  - nested 
  - jump statments

## for loop
 - with range
 - for traversal

## range(): It is in build function which generates the sequence of elements

In [2]:
list(range(4)) # 4 is treated as end ,end-1

[0, 1, 2, 3]

In [3]:
list(range(1,8))

[1, 2, 3, 4, 5, 6, 7]

In [4]:
list(range(2,8))

[2, 3, 4, 5, 6, 7]

In [6]:
list(range(2,10,2))

[2, 4, 6, 8]

In [7]:
list(range(10,0))

[]

In [8]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
list(range(10,0,2))

[]

In [2]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

## for loop : with range

## wap to print the counting from 20 ro 50

In [6]:
for i in range (20,51):
    print(i)

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

## write a programe to reverse the counting from 50 to 20

In [25]:
for i in range(50,19,-1):
    print(i, end=" ")

50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20

In [2]:
start=int(input("Enter the Start "))
end=int(input("Enter the end "))
for i in range(start,end):
    print(i,end=" ")

Enter the Start 2
Enter the end 10
2 3 4 5 6 7 8 9

In [3]:
start=int(input("Enter the Start "))
end=int(input("Enter the end "))
for i in range(start,end+1):
    print(i,end=" ")

Enter the Start 2
Enter the end 10
2 3 4 5 6 7 8 9 10

## reverse method

In [8]:
start=int(input("Enter the Start "))
end=int(input("Enter the end "))
for i in range(start,end,-1):
    print(i,end=" ")

Enter the Start 30
Enter the end 20
30 29 28 27 26 25 24 23 22 21

In [9]:
start=int(input("Enter the Start "))
end=int(input("Enter the end "))
for i in range(start,end-1,-1):
    print(i,end=" ")

Enter the Start 30
Enter the end 20
30 29 28 27 26 25 24 23 22 21 20

## Between 2 and 10

In [11]:
start=int(input("Enter the Start "))
end=int(input("Enter the end "))
for i in range(start+1,end):
    print(i,end=" ")

Enter the Start 2
Enter the end 10
3 4 5 6 7 8 9

##  wap to display the sequence of number in alternate manner

In [14]:
start=int(input("Enter the Start "))
end=int(input("Enter the end "))
for i in range(start,end+1,2):
    print(i,end=" ")

Enter the Start 1
Enter the end 10
1 3 5 7 9

## wap to generare this sequence  6,11,16,21,26,31,......,51

In [16]:
start=int(input("Enter the Start "))
end=int(input("Enter the end "))
for i in range(start,end+1,5):
    print(i,end=" ")

Enter the Start 6
Enter the end 51
6 11 16 21 26 31 36 41 46 51

## 1,4,9,16,25,36........

In [6]:
end=int(input("Enter the end "))
for i in range(1,end+1):
    print(i**2)

Enter the end 6
1
4
9
16
25
36

In [7]:
end=int(input("Enter the end "))
for i in range(1,end+1):
    print(i*i)

Enter the end 6
1
4
9
16
25
36

## wap to display all the even number and odd number from the range entered by user

In [8]:
start=int(input("enter the start "))
end=int(input("enter the end "))
for i in range (start,end+1):
    if i%2==0:
        print(i," is even",end=" ")
    else:
        print(i," is odd",end=" ")

enter the start 10
enter the end 25
10  is even 11  is odd 12  is even 13  is odd 14  is even 15  is odd 16  is even 17  is odd 18  is even 19  is odd 20  is even 21  is odd 22  is even 23  is odd 24  is even 25  is odd

In [9]:
start=int(input("enter the start "))
end=int(input("enter the end "))
for i in range (start,end+1):
    if i%2==0:
        print(i," is even")
    else:
        print(i," is odd")

enter the start 10
enter the end 25
10  is even
11  is odd
12  is even
13  is odd
14  is even
15  is odd
16  is even
17  is odd
18  is even
19  is odd
20  is even
21  is odd
22  is even
23  is odd
24  is even
25  is odd

## wap to display magic number if number is divisible by both 5 and 6, display normal number if it is divisible by 5 only or by 6 only otherwise bye from the range enterd by use

In [11]:
start=int(input("enter the start "))
end=int(input("enter the end "))
for i in range (start,end+1):
    if i%5==0 and i%6==0:
        print(i," magic number")
    elif i%5==0 or i%6==0:
        print(i," is normal number")
    else:
        print(i," bye")

enter the start 10
enter the end 30
10  is normal number
11  bye
12  is normal number
13  bye
14  bye
15  is normal number
16  bye
17  bye
18  is normal number
19  bye
20  is normal number
21  bye
22  bye
23  bye
24  is normal number
25  is normal number
26  bye
27  bye
28  bye
29  bye
30  magic number

## wap to count the even number and odd number betweene the range entered by user and also dispaly them

In [13]:
start=int(input("enter the start "))
end=int(input("enter the end "))
count_e=0
count_o=0
for i in range (start+1,end):
    if i%2==0:
        print(i," even")
        count_e=count_e+1
    else:
        print(i," odd")
        count_o=count_o+1
print("the even count is ", count_e)
print("the even count is ", count_o)

enter the start 3
enter the end 15
4  even
5  odd
6  even
7  odd
8  even
9  odd
10  even
11  odd
12  even
13  odd
14  even
the even count is  6
the even count is  5

## wap to display the table of number enter by user

In [14]:
num=int(input("enter the number"))
for i in range (1,11):
    print(num,"*",i,"=",num*i)

enter the number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## wap to display a table of the number entered by user reverse manner

In [39]:
num=int(input("enter the number "))
for i in range (10,1-1,-1):
    print(num,"*",i,"=",num*i)

enter the number 5
5 * 10 = 50
5 * 9 = 45
5 * 8 = 40
5 * 7 = 35
5 * 6 = 30
5 * 5 = 25
5 * 4 = 20
5 * 3 = 15
5 * 2 = 10
5 * 1 = 5

## wap to dispaly the factors of the number entered by user and also dispaly the count of factors

In [19]:
num=int(input("enter the number "))
count=0
for i in range (1,num+1):
    if num%i==0:
        print(i,"is the factors of ", num)
        count=count+1
print("the factors count of ",num," is",count)

enter the number 25
1 is the factors of  25
5 is the factors of  25
25 is the factors of  25
the factors count of  25  is 3

## wap to dispaly wheather the entered number is prime or composite

In [21]:
num=int(input("enter the number "))
count=0
for i in range (1,num+1):
    if num%i==0:
        print(i," is factors of ", num)
        count=count+1
if count==2:
    print(num," is prime")
else:
    print(num," is composite")

enter the number 7
1  is factors of  7
7  is factors of  7
7  is prime

## wap to display and count the vowels and consonants of your name

In [29]:
s=input("Enter the word ")
count_v=0
count_o=0
for i in s:
    if i in "aeiouAEIOU":
        print(i," is vowel")
        count_v=count_v+1
    else:
        print(i," is not vowel")
        count_o=count_o+1
print("the vowels counts is ",count_v)
print("the others characters counts is ", count_o)

Enter the word Tarun
T  is not vowel
a  is vowel
r  is not vowel
u  is vowel
n  is not vowel
the vowels counts is  2
the others characters counts is  3

## wap to count the number of even and odd number in the list

In [41]:
l=[12,13,14,100,90,345]
count_e=0
count_o=0
for i in l:
    if i%2==0:
        count_e=count_e+1
    else:
        count_o=count_o+1
print("the even count is ", count_e)
print("the odd count is ", count_o)

the even count is  4
the odd count is  2

## wap to display the sum of all the number present in the list

In [42]:
l=[10,2,3,5,6,7]
sum(l)

33

In [50]:
l=[10,2,3,5,6,7]
add=0
for i in l:
    add=add+i
print("the sum is ",add)

the sum is  33

## wap to sum and average of those number in the range entered by the user

In [1]:
start=int(input("enter the start "))
end=int(input("enter the end "))
sum1=0
count=0
for i in range(start,end+1):
    sum1=sum1+i
    count=count+1
print(sum1)
avg=sum1/count
print("the average is ",avg)

enter the start 3
enter the end 10
52
the average is  6.5

## wap to display the sum of even number and multiplication of odd number present in the list

In [6]:
l=[10,10,1,2,10,10]
sum1=0
mult=1
for i in l:
    if i%2==0:
        sum1=sum1+i
    else:
        mult=mult*i
print("the sum is ",sum1)
print("the multipication is",mult)

the sum is  42
the multipication is 1