## sign up

In [1]:
username=input("Enter the username ")
password=input("Enter the the password ")

Enter the username balmeet
Enter the the password balmeet@123

## login

In [4]:
while(True):
    u=input("enter the username ")
    p=input("enter the password ")
    if ((username==u) and (password==p)):
        print("welcome ", username,"!!!!!")
        print("login successfully")
        break
    else:
        print("invalid details\n\n plz re-enter")

enter the username balmeet
enter the password balmeet@123
welcome  balmeet !!!!!
login successfully

## adding 5 attemps

In [6]:
attempt=0
while(True):
    if attempt==5:
        print("u cross the limit\n plz try next time")
        break
    elif attempt<=5:
        u=input("enter the username ")
        p=input("enter the password ")
        if ((username==u) and (password==p)):
            print("welcome ", username,"!!!!!")
            print("login successfully in attemt :",attempt)
            break
        else:
            attempt=attempt+1
            print(("invalid details \n\n "))
            continue

enter the username balmeet
enter the password balmeet@123
welcome  balmeet !!!!!
login successfully in attemt : 0

## nested loop 
- for - for
- for - while
- while - for
- while - while

## wap to point the table of the number which lies in the range entered by user

In [8]:
start=int(input("Enter the start "))
end=int(input("Enter the end "))
for num in range (start,end+1):
    for i in range (1,11):
        print(num,"*",i,"=",num*i)
    print("---------------------")

Enter the start 2
Enter the end 5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
---------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
---------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
---------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
---------------------

## wap to count the total vowels and consonants in the names of the list

In [11]:
names=["damini","avishek","tarun","chirag","sakshi","viral"]
count_v=0
count_c=0
for n in names:
    for ch in n:
        if ch in "aeiouAEIOU":
            count_v=count_v+1
        else:
            count_c=count_c+1
print("the vowels count is ",count_v)
print("the consonant count is ",count_c)

the vowels count is  14
the consonant count is  21

## wap to count the vowels and consonats of each names in the given list

In [12]:
for n in names:
    count_v=0
    count_c=0
    for ch in n:
        if ch in "aeiouAEIOU":
            count_v=count_v+1
        else:
            count_c=count_c+1
    print("the vowels count in",n,"is",count_v)
    print("the consonant count in",n,"is ",count_c)
    print("___________________________________________")

the vowels count in damini is 3
the consonant count in damini is  3
___________________________________________
the vowels count in avishek is 3
the consonant count in avishek is  4
___________________________________________
the vowels count in tarun is 2
the consonant count in tarun is  3
___________________________________________
the vowels count in chirag is 2
the consonant count in chirag is  4
___________________________________________
the vowels count in sakshi is 2
the consonant count in sakshi is  4
___________________________________________
the vowels count in viral is 2
the consonant count in viral is  3
___________________________________________

In [13]:
l=["c++","java","python","c","perl"]
for i in l:
    if "p" in i:
        print(i)

python
perl

In [14]:
start=int(input("Enter the start "))
end=int(input("Enter the end "))
count_p=0
count_c=0
for num in range (start,end+1):
    count=0
    #print(num)
    for i in range (1,num+1):
        if num%i==0:
            count=count+i
    if count==2:
        print(num,"is prime")
        count_p=count_p+1
        
    else:
        print(num,"is composite")
        count_c=count_c+1
print("total prime is ",count_p)
print("total composite is",count_c)

Enter the start 2
Enter the end 10
2 is composite
3 is composite
4 is composite
5 is composite
6 is composite
7 is composite
8 is composite
9 is composite
10 is composite
total prime is  0
total composite is 9

## pattern question

In [2]:
#####
#####
#####
#####
#####

In [8]:
for row in range (1,6):
    for col in range (1,6):
        print("#",end="")
    print()

#####
#####
#####
#####
#####

## Same Size pattern

In [12]:
size=int(input("enter the pattern size " ))
for row in range (1,size+1):
    for col in range (1,size+1):
        print("#",end="")
    print()

enter the pattern size 5
#####
#####
#####
#####
#####

1111
2222
3333
4444
5555
6666

In [29]:
for row in range (1,7):
    for col in range (1,5):
        print(row," ",end="")
    print()

1  1  1  1
2  2  2  2
3  3  3  3
4  4  4  4
5  5  5  5
6  6  6  6

12345
12345
12345
12345

In [27]:
for row in range(1,6):
    for col in range(1,6):
        print(col,end="")
    print()

12345
12345
12345
12345
12345

aaaa
bbbb
cccc
dddd

In [4]:
for row in range (97,101):
    for col in range (1,5):
        print(chr(row),end="")
    print()

aaaa
bbbb
cccc
dddd

0101
0101
0101
0101

In [2]:
for row in range (1,5):
    d=0
    for col in range (1,5):
        print(d,end="")
        d=int(not(d))
    print()

0101
0101
0101
0101

1212
1212
1212
1212

In [ ]:
for row in range (1,5):
    d=1
    for col in range (1,5):
        print(d)

abcd
efgh
ijkl
mnop

In [49]:
size=4
count=0
for ch_row in range (size):
    for ch_col in range (size):
        print(chr(97+count),end="")
        count+=1
    print()

abcd
efgh
ijkl
mnop

## OR

In [7]:
asc=97 
size=int(input("enter the size "))
for row in range (1,size+1):
    for col in range (1,size+1):
        print(chr(asc),end="")
        asc=asc+1
    print()

enter the size 4
abcd
efgh
ijkl
mnop

In [6]:
#
##
###
####
#####
######

In [ ]:
#####
####
###
##
#